*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

@font-face {
    font-family: Lobster-Regular;
    src: url(../asset/font/Lobster-Regular.ttf);
}
@font-face {
    font-family: Lora-MediumItalic;
    src: url(../asset/font/Lora-MediumItalic.ttf);
}

h1, h2, h3 {
    font-family:Lora-MediumItalic;
}

body{
    width: 100%;
    background-color: #1a303c;

}


.navbar .collapse.navbar-collapse {
    flex-grow: inherit;
    
}

.navbar a{
    color: #bcbcbc;
}

.navbar .navbar-toggler{
    border-color: #bcbcbc ;
}

.navbar .navbar-toggler {
	border-color: #bcbcbc;
}
.mx-2{
    width: 250px;
    margin-left: 55px;
}
.hero-box{
    background-image: url(../asset/imagen/tienda.jpg);
    height: 1300px;
    background-position: center;
    background-size: cover;
    padding: 50px;
   
}

.hero-text{
    margin-top: 15%;
    background-color: rgba(255, 255, 255, 0.4)

}

.hero-box h1 {
    font-size: 48px;
    text-align: center;
    padding-top: 20px;
}

.hero-box p {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;


}


.about-contenedor {
    padding: 45px;
    width: 100%;
    background-color: #000002;
    color:aliceblue;
   
}

.about-video {
    
    text-align: center;
}



 .service {
    background-color: #000002;
    grid-area: cartas;
 }

.service h2{
    text-align: center;
    font-family: Lobster-Regular;
    color: aliceblue;
    font-size: 48px;
    margin-bottom: 40px;
}

.service-container{
    width: 1400px;
    margin: 0 auto;
}

.cartas{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card {
    width: 250px;
    background-color:#c3390c;
    border-radius: 20px;
    display:inline-block;
    
    
}

.card img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}



.card p{
    text-align: center;
}

.service .service-container h3{
    margin-left: 20px;
   
}
footer{
    
    padding: 10px;
    background-color: #000002;
}

footer p {
    text-align: center;
    color: aliceblue;
    margin-top: 70px;
    
}



.contact-container{

    background-image: url(../imagen/contacto.jpg);
    height: 50px;
    background-position: center;
    background-size: cover;
    padding: 400px;
    
}

.login-container {
    background-image: url(../imagen/login.jpg);
    height: 50px;
    background-position: center;
    background-size: cover;
    padding: 400px;


}

.historia-container{
    background-image: url(../imagen/siluetas.jpg);
    height: 50px;
    background-position: center;
    background-size: cover;
    padding: 400px;


}

.historia-text {
    
        
    background-color: rgba(255, 255, 255, 0.4)
        
    
}

.historia-text p {

    
    text-align: center;
    
}